* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first-section {
    background-image: linear-gradient(to right, rgba(159, 172, 247, 0.52), rgba(10, 11, 11, 0.73)),url('./community.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
}

.home{
    min-height: 100vh;
}

.mid-section-icons{
    margin-top: 3%;
}
